

@keyframes menuIn {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes menuOut {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes bgMenuIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 0.3;
    visibility: visible;
  }
}

@keyframes bgMenuOut {
  0% {
    opacity: 0.3;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes modalIn {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes modalOut {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    display: block;
  }

  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

a,
a:hover {
  text-decoration: none;
}

.wrapper {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
}

.mobile {
  display: none;
}

header {
  padding-top: 4px;
  background-color: #9a9a9a;
}

.logo {
  margin-right: 60px;
}

.logo img {
  width: 126px;
  height: 39px;
}

nav {
}

nav .list {
  display: flex;

  height: 100%;
  padding: 8px 0;
  list-style: none;
}

nav .list__item {
  margin-right: 30px;
}

nav .list__item a.list__link_active {
  position: relative;
  color: #ffffff;
  font-weight: bold;
}

nav .list__item a {
  position: relative;
  color: #ffffff;
}

nav .list__item a::after,
nav .list__item a.list__link_active::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #ffffff;
  transition: width 0.3s ease-out;
}

nav .list__item a:hover::after,
nav .list__item a:focus::after,
nav .list__item a.list__link_active:hover::after,
nav .list__item a.list__link_active:focus::after {
  width: 100%;
}

.language {
  display: flex;
  align-items: center;
  padding: 9px 53px;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  line-height: 1;
  height: 32px;
  position: relative;
  margin-left: -15px;
  cursor: pointer;
}

/* .language::after {
  content: ">";
  color: #ffffff;
  margin-left: 10px;
} */

.language .popup {
  display: none;
  position: absolute;
  top: 32px;
  width: 100%;
  left: 0;
  z-index: 10;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 16px;
}

.language.open .popup {
  display: block;
}

.language .popup div {
  text-align: center;
  color: #ffffff;
  padding: 9px;
}

.language .popup div a {
  position: relative;
  color: #ffffff;
}

.language .popup div a::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #ffffff;
  transition: width 0.3s ease-out;
}

.language .popup div a:hover::after,
.language .popup div a:focus::after {
  width: 100%;
}

.main {
  background-color: #9a9a9a;
  position: relative;
  overflow: hidden;
}

.main__img {
  background-image: url(./img/img1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -120px 0px;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 752px;
  height: 749px;
  right: -257px;
  bottom: -31px;
  overflow: hidden;
  border-radius: 50%;
  z-index: 100;
}

.main__img img {
  height: 100%;
}

.main__white_square {
  background-color: #ffffff;
  position: absolute;
  width: 788px;
  height: 775px;
  right: -270px;
  bottom: -40px;
  border-radius: 50%;
  z-index: 90;
}

.main__purple_square {
  background-color: #ff8811;
  position: absolute;
  width: 784px;
  height: 780px;
  right: -240px;
  bottom: -40px;
  border-radius: 50%;
  z-index: 80;
}

.main-title {
  width: 550px;
  margin-top: 65px;
  margin-bottom: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.main-title__header {
  color: #fefefe;
  font-size: 24px;
  margin-bottom: 30px;
}

.main-title__first {
  text-align: center;
  width: 420px;
  line-height: 1;
  color: #ffffff;
  font-size: 72px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 56px;
}

.main-title .text1 {
  opacity: 0.8;
  line-height: 21px;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  margin-bottom: 40px;
}

.main-title .text2 {
  max-width: 400px;
  opacity: 0.8;
  line-height: 21px;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  margin-bottom: 70px;
}

.main__btn {
  padding: 9px 75px;
  height: 36px;
  color: #ffffff;
  font-size: 17px;
  line-height: 1;
  background-color: #f98511;
  border-radius: 18px;
  margin-bottom: 63px;
  cursor: pointer;
}

.main__btn:hover {
  background-color: #a25406;
  transition: 0.3s;
  color: #ffffff;
}

.main-title__link1_text {
  width: 442px;
  position: relative;
  padding-bottom: 2px;
  opacity: 0.8;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
}

.main-title__link1 {
  position: relative;
  padding-bottom: 2px;
  opacity: 0.8;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
}

.main-title__link1:hover {
  color: #ffffff;
}

.main-title__link1::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  /* transform: translateX(-50%); */
  width: 0;
  height: 1px;
  background-color: #ffffff;
  transition: width 0.3s ease-out;
}

.main-title__link1:hover::after,
.main-title__link1:focus::after {
  width: 100%;
}

/* user */

.user {
  margin-top: 17px;
  margin-bottom: 13px;
  background-color: #f8f8f8;
}

.user__container {
  margin-top: 63px;
  margin-bottom: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.user .right {
  width: 391px;
  text-align: center;
}

.right .right__title {
  color: #161515;
  font-size: 48px;
}

.left__count {
  width: 645px;
  display: flex;
}

.left__count .left__count_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left__count .left__count_number {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  width: 101px;
  height: 101px;
  text-align: center;
  background-color: #bababa;
  border-radius: 50%;
  color: #ffffff;
  font-weight: 900;
  font-size: 90px;
}

.left__count .left__count_description {
  opacity: 0.7019607843137254;
  color: #161515;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

/* /user */

/* work */

.work {
  background-color: #f8f8f8;
  margin-top: 13px;
  margin-bottom: 13px;
}

.work__wrap {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  margin-bottom: 90px;
}

.work .title {
  align-self: center;
  color: #161515;
  font-size: 48px;
  width: 707px;
  text-align: center;
  margin-bottom: 90px;
}

.work .work__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* gap: 10px; */
}

@supports not (gap: 10px) {
  .work .work__container {
    margin: -5px;
  }
  .work .work__container > * {
    margin: 5px;
  }
}

.container__items {
  display: flex;
  align-items: center;
  border: 1px solid #adadad;
  margin: 5px;
}

.container__items .container__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 13px 20px 13px 50px;
  /* width: 101px; */
  /* height: 101px; */
  text-align: center;
  /* background-color: #ffffff; */
  /* border-radius: 50%; */
  color: #fda956;
  font-weight: 900;
  font-size: 90px;
  z-index: 10;
}

.container__items .container__item::after {
  content: "";
  position: absolute;
  right: 20px;
  width: 50px;
  height: 100px;
  /* border: 1px solid red; */
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  background: #ffffff;
  z-index: -1;
}

.container__text {
  opacity: 0.7019607843137254;
  color: #161515;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin-right: 35px;
}

.container__items:nth-child(1) {
  width: 100%;
  max-width: 385px;
}

.container__items:nth-child(2) {
  width: 100%;
  max-width: 290px;
}

.container__items:nth-child(3) {
  width: 100%;
  max-width: 435px;
}

.container__items:nth-child(4) {
  width: 100%;
  max-width: 540px;
}

.container__items:nth-child(5) {
  width: 100%;
  max-width: 580px;
}

.container__items:nth-child(6) {
  width: 100%;
  max-width: 600px;
  height: 167px;
}

.container__items:nth-child(7) {
  max-width: 520px;
  height: 167px;
}

/* /work */

main .link {
  background-color: #f8f8f8;
  margin-bottom: 14px;
  padding-top: 41px;
  padding-bottom: 44px;
  text-align: center;
}

main .link a {
  position: relative;
}

main .link a::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  /* transform: translateX(-50%); */
  width: 0;
  height: 1px;
  background-color: #000000;
  transition: width 0.3s ease-out;
}

main .link a:hover::after,
main .link a:focus::after {
  width: 100%;
}

main .link a {
  color: #000000;
  font-size: 16px;
}

/* conditions  */

.conditions {
  background-color: #f8f8f8;
  margin-bottom: 15px;
}

.conditions .title_wrap {
  padding-top: 70px;
  margin-bottom: 57px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conditions .title {
  margin-bottom: 35px;
  width: 700px;
  color: #161515;
  font-size: 48px;
  text-align: center;
}

.conditions .title span {
  color: #161515;
  font-size: 48px;
}

.conditions .subtitle {
  color: #161515;
  font-size: 18px;
  width: 680px;
  text-align: center;
}

.conditions__wrap {
  display: flex;
}

.conditions__wrap_left {
  width: 50%;
  display: flex;
  flex-direction: column;
  /* row-gap: 10px; */
  margin-right: 10px;
}

.conditions__wrap_right {
  width: 50%;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}

@supports not (gap: 10px) {
  .conditions__wrap_right {
    margin: -5px;
  }
  .conditions__wrap_right > * {
    margin: 5px;
  }
}

.conditions__wrap_item {
  background-color: #959595;
  /* width: 50%; */
  margin-bottom: 10px;
}

.conditions__wrap_item p {
  color: #ffffff;
  font-size: 14px;
}

.conditions__wrap_left .conditions__wrap_item {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.conditions__wrap_left .conditions__wrap_item:nth-child(1) p {
  width: 450px;
  text-align: center;
  margin: 56px 41px 44px 0;
}

.conditions__wrap_left .conditions__wrap_item:nth-child(2) p {
  width: 407px;
  text-align: center;
  margin: 48px 67px 37px 0;
}

.conditions__wrap_left .conditions__wrap_item:nth-child(3) p {
  width: 431px;
  text-align: center;
  margin: 64px 49px 50px 0;
}

.conditions__wrap_right .conditions__wrap_item:nth-child(1) p {
  width: 456px;
  text-align: center;
  margin: 66px 0px 66px 64px;
}

.conditions__wrap_right .conditions__wrap_item:nth-child(2) p {
  width: 432px;
  text-align: center;
  margin: 57px 0px 44px 83px;
}

.conditions__wrap_right .conditions__wrap_item:nth-child(3) p {
  width: 366px;
  text-align: center;
  margin: 60px 0px 48px 102px;
}

/* /conditions  */

/* fillForm */

.fillForm {
  position: relative;
  margin-bottom: 15px;
  background: url(./img/img_parallax.jpeg);
  position: relative;
  background-attachment: fixed;
  background-position-y: 60%;
  background-size: cover;
}

.fillForm::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.5606617647058824) 40%,
    rgba(255, 255, 255, 0) 100%
  );
}

.fillForm__container {
  padding-top: 66px;
  padding-bottom: 46px;
  margin-left: 101px;
}

.fillForm_title {
  color: #000000;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 26px;
  width: 486px;
}

.fillForm__subtitle {
  opacity: 0.8;
  color: #000000;
  font-size: 18px;
  margin-bottom: 33px;
}

.fillForm__prize {
  position: relative;
  width: 403px;
  height: 340px;
}

.fillForm__prize_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fillForm__prize_number {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  width: 101px;
  height: 101px;
  text-align: center;
  background-color: #e38522;
  border-radius: 50%;
  color: #ffffff;
  font-weight: 900;
  font-size: 90px;
}

.fillForm__prize_text {
  color: #000000;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  line-height: 1;
}

.fillForm__prize_item:nth-child(1) {
  position: absolute;
  left: 0;
  top: 187px;
}

.fillForm__prize_item:nth-child(2) {
  position: absolute;
  left: 100px;
  top: 0px;
}

.fillForm__prize_item:nth-child(3) {
  position: absolute;
  right: 0px;
  top: 108px;
}

/* /fillForm */

/* forma */

.blockform {
  position: absolute;
  right: 101px;
  bottom: -40px;
  width: 323px;
  height: 93%;
  background-color: #ffffff;
  border-radius: 13px;
  padding: 48px 32px 83px;
  z-index: 10;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

/* 
.blockform-send {
  background: url(img/girl_1_bg.jpg) 41% 67% lightgreen;
  background-size: 139%;
  text-align: center;
  height: 100%;
}

.blockform-send p {
  position: relative;
  z-index: 19;
  top: 31%;
  font-size: 15px;
  color: white;
  font-weight: 500;
}

.blockform-send p span {
  font-size: 19px;
}

.blockform-send:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(128, 130, 209, .5);
  z-index: 2;
  border-radius: 13px;
}
 */

.blockform h3 {
  color: #000000;
  font-size: 21px;
  margin-bottom: 32px;
  text-align: center;
}

.blockform select,
.blockform input {
  width: 100%;
}

.blockform input[type="checkbox"] {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  margin-right: 18px;
}

.blockform select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select[name="country"] {
  background-color: #6a6a6a;
  border-radius: 17px;
  color: #fefefe;
  font-size: 14px;
  padding: 10px 30px;
  margin-bottom: 10px;
  cursor: pointer;
}

form .country {
  position: relative;
}

form .country::after {
  position: absolute;
  top: 11px;
  right: 15px;
  content: ">";
  color: #fefefe;
  font-size: 14px;
  font-weight: 600;
}

select[name="country"]:focus {
  outline: none;
}

input[type="email"] {
  background-color: #6a6a6a;
  border-radius: 17px;
  padding-top: 11px;
  padding-bottom: 11px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 22px;
  text-align: center;
}

input[type="email"]::placeholder {
  color: #fefefe;
  font-size: 14px;
  text-align: center;
  line-height: 1;
}

input[type="email"]:focus::-webkit-input-placeholder {
  color: transparent;
}

form .checkbox_text {
  display: flex;
  text-align: center;
  color: #000000;
  font-size: 14px;
  padding-right: 32px;
  margin-bottom: 20px;
}

form .prize {
  position: relative;
  margin-bottom: 13px;
}

select[name="prize"] {
  background-color: #6a6a6a;
  border-radius: 17px;
  color: #fefefe;
  font-size: 14px;
  padding: 10px 40px;
  cursor: pointer;
}

select[name="prize"]:focus {
  outline: none;
}

form .prize::after {
  position: absolute;
  top: 11px;
  right: 26px;
  content: ">";
  color: #fefefe;
  font-size: 14px;
  font-weight: 600;
}

input[type="text"] {
  background-color: #6a6a6a;
  border-radius: 17px;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 9px;
  border: none;
  outline: none;
  margin-bottom: 12px;
}

input[type="text"]::placeholder {
  color: #fefefe;
  font-size: 14px;
}

input[type="text"]:focus::-webkit-input-placeholder {
  color: transparent;
}

input[type="tel"] {
  background-color: #6a6a6a;
  border-radius: 17px;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 9px;
  border: none;
  outline: none;
  margin-bottom: 23px;
}

input[type="tel"]::placeholder {
  color: #fefefe;
  font-size: 14px;
}

input[type="tel"]:focus::-webkit-input-placeholder {
  color: transparent;
}

input[type="submit"] {
  background-color: #e38522;
  border-radius: 17px;
  color: #fefefe;
  font-size: 14px;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 9px;
  border: none;
  outline: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #a25406;
  transition: 0.3s;
}

/* /forma */

/* modal form */

.modal-content {
  width: 324px;
  background-color: #ffffff;
  border-radius: 13px;
  margin-top: 150px;
}

.modal-body {
  padding: 0;
  height: 628px;
}

.modal-header {
  border-bottom: none;
}

.modal-blockform {
  width: 323px;
  background-color: white;
  border-radius: 13px;
  padding: 60px 32px 83px;
  z-index: 10;
}

.modal-blockform h3 {
  color: #000000;
  font-size: 21px;
  margin-bottom: 32px;
  text-align: center;
}

.modal-blockform select,
.modal-blockform input {
  width: 100%;
}

.modal-blockform input[type="checkbox"] {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  margin-right: 18px;
}

.modal-blockform select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.modal-blockform select[name="country"] {
  background-color: #6a6a6a;
  border-radius: 17px;
  color: #fefefe;
  font-size: 14px;
  padding: 10px 30px;
  margin-bottom: 10px;
  cursor: pointer;
}

form .country {
  position: relative;
}

form .country::after {
  position: absolute;
  top: 11px;
  right: 15px;
  content: ">";
  color: #fefefe;
  font-size: 14px;
  font-weight: 600;
}

select[name="country"]:focus {
  outline: none;
}

.modal-blockform input[type="email"] {
  background-color: #6a6a6a;
  border-radius: 17px;
  padding-top: 11px;
  padding-bottom: 11px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 22px;
  text-align: center;
}

input[type="email"]::placeholder {
  color: #fefefe;
  font-size: 14px;
  text-align: center;
  line-height: 1;
}

input[type="email"]:focus::-webkit-input-placeholder {
  color: transparent;
}

form .checkbox_text {
  display: flex;
  text-align: center;
  color: #000000;
  font-size: 14px;
  padding-right: 32px;
  margin-bottom: 20px;
}

form .prize {
  position: relative;
  margin-bottom: 13px;
}

.modal-blockform select[name="prize"] {
  background-color: #6a6a6a;
  border-radius: 17px;
  color: #fefefe;
  font-size: 14px;
  padding: 10px 44px;
  cursor: pointer;
}

select[name="prize"]:focus {
  outline: none;
}

form .prize::after {
  position: absolute;
  top: 11px;
  right: 26px;
  content: ">";
  color: #fefefe;
  font-size: 14px;
  font-weight: 600;
}

.modal-blockform input[type="text"] {
  background-color: #6a6a6a;
  border-radius: 17px;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 9px;
  border: none;
  outline: none;
  margin-bottom: 12px;
}

input[type="text"]::placeholder {
  color: #fefefe;
  font-size: 14px;
}

input[type="text"]:focus::-webkit-input-placeholder {
  color: transparent;
}

.modal-blockform input[type="tel"] {
  background-color: #6a6a6a;
  border-radius: 17px;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 9px;
  border: none;
  outline: none;
  margin-bottom: 23px;
}

input[type="tel"]::placeholder {
  color: #fefefe;
  font-size: 14px;
}

input[type="tel"]:focus::-webkit-input-placeholder {
  color: transparent;
}

input[type="submit"] {
  background-color: #e38522;
  border-radius: 17px;
  color: #fefefe;
  font-size: 14px;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 9px;
  border: none;
  outline: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #a25406;
  transition: 0.3s;
}

/* /modal form */

/* footer */

footer {
  position: relative;
  background: rgb(153 153 153 / 40%);
  display: flex;
  justify-content: center;
  padding-top: 62px;
  padding-bottom: 47px;
  z-index: 100;
}

footer .contact {
  width: 250px;
  text-align: center;
  margin-right: 300px;
}

footer .office {
  width: 270px;
  text-align: center;
}

footer h3 {
  color: #000000;
  font-size: 14px;
  text-transform: uppercase;
}

footer .campany {
  color: #f98511;
  font-size: 18px;
  font-weight: 900;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1;
}

footer .campany span:first-child {
  color: #fafafa;
}

footer p {
  color: #000000;
  font-size: 14px;
}

footer address {
  color: #000000;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-style: normal;
}

footer a {
  color: #fafafa;
  font-size: 14px;
}

footer a span:last-child {
  color: #f98511;
}

.close {
  position: absolute;
  right: 0%;
  z-index: 50;
  top: -4%;
  opacity: 1 !important;
}

.close span {
  font-size: 27px;
  color: white !important;
}

.country-select-error {
  padding: 2px;
  display: none;
  top: -60px;
  left: -162px;
  position: absolute;
  width: 148px;
  height: 87px;
  background-color: #e38522;
  border-radius: 9px;
}

.prize-select-error {
  padding: 2px;
  display: none;
  top: -60px;
  left: -162px;
  position: absolute;
  width: 148px;
  height: 87px;
  background-color: #e38522;
  border-radius: 9px;
}

.blockform-send {
  /* background: url(img/girl_1_bg.jpg) 41% 67% lightgreen; */
  background-color: #3c6048;
  background-size: 139%;
  text-align: center;
  height: 100%;
}

.blockform-send p {
  position: relative;
  z-index: 19;
  top: 31%;
  font-size: 15px;
  color: white;
  font-weight: 500;
}

.blockform-send p span {
  font-size: 19px;
}

.blockform-send:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: rgba(128,130,209,.5); */
  z-index: 2;
  border-radius: 13px;
}

/* header bg */

.bg-white {
  position: sticky;
  top: 0;
  z-index: 10000;
  padding-top: 12px;
  background-color: #ffffff;
  opacity: 0.9;
}

.bg-white nav .list__item a.list__link_active {
  position: relative;
  color: #000000;
  font-weight: bold;
}

.bg-white nav .list__item a {
  position: relative;
  color: #000000;
}

.bg-white nav .list__item a::after,
.bg-white nav .list__item a.list__link_active::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #000;
  transition: width 0.3s ease-out;
}

.bg-white nav .list__item a:hover::after,
.bg-white nav .list__item a:focus::after,
.bg-white nav .list__item a.list__link_active:hover::after,
.bg-white nav .list__item a.list__link_active:focus::after {
  width: 100%;
}

.bg-white .language {
  display: flex;
  align-items: center;
  padding: 9px 53px;
  color: #000;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  line-height: 1;
  height: 32px;
  position: relative;
  margin-left: -15px;
  cursor: pointer;
}

.bg-white .language span {
  position: relative;
}

.bg-white .language span::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #000;
  transition: width 0.3s ease-out;
}

.bg-white .language span:hover::after,
.bg-white .language span:focus::after {
  width: 100%;
}

/* .bg-white .language::after {
  content: ">";
  color: #000;
  margin-left: 10px;
} */

.bg-white .language .popup {
  display: none;
  position: absolute;
  top: 32px;
  width: 100%;
  left: 0;
  z-index: 10;
  background-color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 16px;
}

.bg-white .language.open .popup {
  display: block;
}

.bg-white .language .popup div {
  text-align: center;
  color: #000;
  padding: 9px;
}

.bg-white .language .popup div a {
  position: relative;
  color: #000;
}

.bg-white .language .popup div a::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #000;
  transition: width 0.3s ease-out;
}

.bg-white .language .popup div a:hover::after,
.bg-white .language .popup div a:focus::after {
  width: 100%;
}

/* NOTES */
@media (max-width: 1440px) {
  .container__items:nth-child(3) {
    width: 325px;
  }

  .container__items:nth-child(4) {
    width: 466px;
  }

  .container__items:nth-child(5) {
    width: 542px;
  }

  .container__items:nth-child(6) {
    width: 481px;
  }
}

/* TABS */
@media (max-width: 768px) {
  .bg-white {
    display: none;
  }

  .mobile {
    display: block;
  }

  .not-mob {
    display: none;
  }

  .bg__menu {
    background: #fff;
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    visibility: hidden;
  }

  .bg__menu.close__active {
    -webkit-animation-duration: 1s; /* whatever timing you want */
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: bgMenuOut;
    animation-name: bgMenuOut;
  }

  .bg__menu.active {
    -webkit-animation-duration: 1s; /* whatever timing you want */
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: bgMenuIn;
    animation-name: bgMenuIn;
  }

  /* header */
  .mobile {
    display: block;
  }

  header {
    border-radius: 24px 24px 0 0;
    padding-top: 27px;
    padding-right: 27px;
    padding-left: 27px;
    margin-bottom: -1px;
    position: relative;
    background-color: #171819;
    margin: 20px 32px 0 32px;
  }

  .logo img:not(.mobile) {
    display: none;
  }

  nav,
  .language {
    display: none;
  }

  .mobile.burger {
    position: fixed;
    top: 44px;
    right: 66px;
    z-index: 9999;
    background: #fff;
    border-radius: 100%;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile.menu {
    position: fixed;
    display: flex;
    background: #fff;
    z-index: 10000;
    /*top: -28px;*/
    /*right: -28px;*/
    top: 44px;
    right: 0;
    border-radius: 24px 0 0 24px;
    padding: 40px;
    width: 450px;
    flex-direction: column;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  .mobile.menu.active {
    -webkit-animation-duration: 1s; /* whatever timing you want */
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: menuIn;
    animation-name: menuIn;
  }

  .mobile.menu.close__active {
    -webkit-animation-duration: 1.5s; /* whatever timing you want */
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: menuOut;
    animation-name: menuOut;
  }

  .mobile.menu .close {
    position: absolute;
    top: 25px;
    right: 25px;
  }

  .mobile.menu .logo {
    margin-bottom: 88px;
    width: 130px;
  }

  .mobile.menu nav {
    display: flex;
    align-self: flex-end;
    margin-bottom: 75px;
  }

  .mobile.menu nav .list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .mobile.menu nav .list__item {
    margin-bottom: 25px;
    margin-right: 0;
  }

  nav .list__item a {
    font-family: "DunbarText";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: right;
    text-transform: uppercase;
    color: #000;
  }

  nav .list__item a:hover {
    color: #ffc120;
    transition: 0.3s ease-in-out;
  }

  nav .list__item a.list__link_active {
    background: -webkit-linear-gradient(to right, #5a40de 0%, #f58317 100%);
    background: -moz-linear-gradient(to right, #5a40de 0%, #f58317 100%);
    background: linear-gradient(to right, #5a40de 0%, #f58317 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
  }

  .mobile.menu .language:before {
    content: "";
    display: block;
    width: 80px;
    height: 1px;
    background: #5a40de;
    background: -webkit-linear-gradient(to right, #5a40de 0%, #f58317 100%);
    background: -moz-linear-gradient(to right, #5a40de 0%, #f58317 100%);
    background: linear-gradient(to right, #5a40de 0%, #f58317 100%);
    margin-bottom: 30px;
  }

  .mobile.menu .language {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0;
    border: none;
    height: auto;
  }

  .mobile.menu .language span {
    font-family: "DunbarText";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  .mobile.menu .language div {
    margin-bottom: 25px;
  }

  .mobile.menu .language a {
    font-family: "DunbarText";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #000;
    text-transform: uppercase;
  }
  .mobile.menu .language a:hover {
    color: #ffc120;
    transition: 0.3s ease-in-out;
  }

  .mobile.menu .language a.active {
    background: -webkit-linear-gradient(to right, #5a40de 0%, #f58317 100%);
    background: -moz-linear-gradient(to right, #5a40de 0%, #f58317 100%);
    background: linear-gradient(to right, #5a40de 0%, #f58317 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
  }
  /* /header */

  /* main */

  .main {
    border-radius: 0 0 24px 24px;
    padding: 27px 27px 155px;
    margin: 0 32px 0 32px;
    position: relative;
    background-color: #171819;
  }

  .main__btn:hover {
    background: linear-gradient(90.07deg, #6147e2 22.55%, #ffc120 58.08%);
    transition: 0.3s;
    color: #000;
  }

  .main:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(./img/table_img/img_header.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 480px;
    height: 480px;
    border-radius: 100%;
    background-size: cover;
    /* filter: brightness(70%); */
  }

  .main__img,
  .main__white_square,
  .main__purple_square {
    display: none;
  }

  .main-title {
    width: 100%;
    margin: 50px 0 0;
  }

  .main-title__link1_text {
    display: none;
  }

  .main-title .text2 {
    order: 1;
  }

  .main-title__header {
    font-family: "DunbarText";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 37px;
    max-width: 342px;
    text-align: center;
  }

  .main-title__first {
    font-family: "DunbarTall";
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    text-transform: uppercase;
    color: #ffc120;

    background: linear-gradient(to right, #6147e2 35%, #ffc120 65%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    text-transform: uppercase;
    /* background: none;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial; */
    margin-bottom: 30px;
  }

  .main-title .text1 {
    font-family: "DunbarLow";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    width: 50%;
    margin-bottom: 140px;
    opacity: 1;
  }

  .main__btn {
    font-family: "DunbarText";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    padding: 11px 24px;
    background: #ffc120;
    border-radius: 16px;
    color: #000;
    display: inline-block;
    height: auto;
    margin-bottom: 50px;
  }

  .main-title .text2 {
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    width: 75%;
    margin-bottom: 67px;
  }

  /* /main */

  .user {
    margin: 10px 32px 0 32px;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    background: #f5f5f5;
  }

  .user__container {
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 140px;
  }

  .user .right {
    width: 391px;
    text-align: start;
    align-self: flex-start;
    margin: 140px 0 70px 58px;
  }

  .right .right__title {
    font-family: "DunbarTall";
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    color: #000;
    margin-bottom: 0;
  }

  .right .right__title::before {
    content: "";
    position: absolute;
    top: 70px;
    left: 58px;
    height: 1px;
    width: 74px;
    /* background: rgb(97, 71, 226); */
    background: linear-gradient(
      90deg,
      rgba(97, 71, 226, 1) 0%,
      rgba(9, 9, 121, 1) 35%,
      rgba(255, 193, 32, 1) 100%
    );
  }

  .left__count {
    flex-direction: column;
    align-items: center;
  }

  .left__count .left__count_wrap {
    position: relative;
    flex-direction: row;
    padding-left: 130px;
  }

  .left__count .left__count_wrap:nth-child(1):before {
    content: "";
    position: absolute;
    top: 0;
    left: 60px;
    width: 50px;
    height: 40px;
    background-image: url(./img/table_img/cursor.svg);
  }

  .left__count .left__count_wrap:nth-child(2):before {
    content: "";
    position: absolute;
    top: 45px;
    left: 60px;
    width: 43px;
    height: 40px;
    background-image: url(./img/table_img/mail.svg);
  }

  .left__count .left__count_wrap:nth-child(3):before {
    content: "";
    position: absolute;
    top: 0;
    left: 55px;
    width: 55px;
    height: 55px;
    background-image: url(./img/table_img/people.svg);
  }

  .left__count .left__count_number {
    display: none;
  }

  .left__count .left__count_description {
    width: 307px;
    font-family: "DunbarLow";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: left;
    color: #000;
    opacity: 1;
    margin-bottom: 0;
  }

  .left__count .left__count_wrap:nth-child(2) .left__count_description {
    margin-top: 54px;
    margin-bottom: 69px;
  }

  /* work */

  .work {
    margin: 0 32px 0 32px;
    background: #f5f5f5;
  }

  .work__wrap {
    width: 100%;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
  }

  .work .title {
    /* display: none; */
    width: 100%;
    position: relative;
    margin-top: 130px;
    margin-bottom: 180px;
    max-width: 542px;
    font-family: "DunbarTall";
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    /* or 117% */
    text-align: right;
    color: #000;
    z-index: 10;
  }

  .work .right__bot {
    align-self: flex-end;
    width: 420px;
    height: 420px;
    background: rgba(97, 71, 226, 0.7);
    padding: 89px 0 0 55px;
    position: relative;
    border-radius: 100%;
    margin-left: -59px;
    margin-bottom: 55px;
    margin-right: 60px;
  }

  .work .right__bot .line {
    display: block;
    width: 74px;
    height: 1px;
    background: #5a40de;
    background: -webkit-linear-gradient(to right, #5a40de 0%, #f58317 100%);
    background: -moz-linear-gradient(to right, #5a40de 0%, #f58317 100%);
    background: linear-gradient(to right, #5a40de 0%, #f58317 100%);
    margin-bottom: 20px;
    margin-left: 65px;
  }

  .work .right__bot .right__bot__title {
    font-family: "DunbarTall";
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    color: #000;
    margin-bottom: 40px;
    text-align: right;
  }

  .work .title::after {
    content: "";
    position: absolute;
    top: -130px;
    right: -50px;
    width: 418px;
    height: 418px;
    background: #6147e2;
    border-radius: 50%;
    opacity: 0.65;
    z-index: -1;
  }

  .work .title::before {
    content: "";
    position: absolute;
    top: -20px;
    right: 0px;
    height: 1px;
    width: 74px;
    /* background: rgb(97, 71, 226); */
    background: linear-gradient(
      90deg,
      rgba(97, 71, 226, 1) 0%,
      rgba(9, 9, 121, 1) 35%,
      rgba(255, 193, 32, 1) 100%
    );
  }

  .work .work__container {
    justify-content: center;
    padding: 0 60px 0 60px;
  }

  .container__items:nth-child(1) {
    width: 583px;
    border-radius: 16px;
  }
  .container__items:nth-child(1) .container__text {
    max-width: 195px;
  }

  .container__items:nth-child(2) {
    width: 583px;
    border-radius: 16px;
    display: flex;
    flex-direction: row-reverse;
  }

  .container__items:nth-child(2) .container__text {
    max-width: 179px;
    text-align: end;
  }

  .container__items:nth-child(3) {
    width: 583px;
    border-radius: 16px;
  }

  .container__items:nth-child(3) .container__text {
    max-width: 179px;
  }

  .container__items:nth-child(4) {
    width: 583px;
    border-radius: 16px;
    display: flex;
    flex-direction: row-reverse;
  }

  .container__items:nth-child(4) .container__text {
    max-width: 340px;
    text-align: end;
  }

  .container__items:nth-child(5) {
    width: 583px;
    border-radius: 16px;
  }

  .container__items:nth-child(5) .container__text {
    max-width: 340px;
  }

  .container__items:nth-child(6) {
    width: 583px;
    height: 200px;
    border-radius: 16px;
    display: flex;
    flex-direction: row-reverse;
  }

  .container__items:nth-child(6) .container__text {
    max-width: 330px;
    text-align: end;
  }

  .container__items:nth-child(7) {
    width: 583px;
    height: 200px;
    border-radius: 16px;
  }

  .container__items:nth-child(7) .container__text {
    max-width: 340px;
  }

  .work .work__container .container__items {
    width: 100%;
    max-width: 583px;
  }

  .container__items .container__item::after {
    display: none;
  }

  .container__items .container__item {
    margin: 13px 50px 13px 50px;
    font-weight: 900;
    font-size: 130px;
    line-height: 120px;
    background: rgb(97, 71, 226);
    background: linear-gradient(90.07deg, #6147e2 22.55%, #ffc120 58.08%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
  }

  .container__text {
    opacity: 1;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */
    color: #000000;
    margin-right: 0;
    margin-bottom: 0;
  }

  /* /work */

  /* Link */
  main .link {
    margin: 0 32px 10px 32px;
    background: #f5f5f5;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    padding-top: 200px;
    padding-bottom: 185px;
    text-align: center;
  }

  main .link a {
    position: relative;
    max-width: 462px;
    display: inline-block;
    font-family: "DunbarTall";
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    /* or 117% */
    color: #000000;
    text-align: start;
    z-index: 10;
  }

  main .link a::after {
    content: "";
    position: absolute;
    top: -130px;
    left: -90px;
    width: 418px;
    height: 418px;
    background: #6147e2;
    border-radius: 50%;
    opacity: 0.65;
    z-index: -1;
  }

  main .link a::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 0px;
    height: 1px;
    width: 74px;
    /* background: rgb(97, 71, 226); */
    background: linear-gradient(
      90deg,
      rgba(97, 71, 226, 1) 0%,
      rgba(9, 9, 121, 1) 35%,
      rgba(255, 193, 32, 1) 100%
    );
  }
  /* /Link */

  /* conditions */

  .conditions {
    margin: 0 32px 0 32px;
    background: #ffc02033;
    border-radius: 24px;
  }

  .conditions .title_wrap {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 0 60px 0 60px;
    margin-bottom: 0;
  }

  .conditions .square {
    margin-top: 108px;
    margin-bottom: 55px;
    width: 344px;
    height: 344px;
    background: rgba(255, 193, 32, 0.7);
    padding: 53px 65px;
    position: relative;
  }

  .conditions .square::before {
    content: "";
    position: absolute;
    top: -40px;
    left: 65px;
    height: 1px;
    width: 74px;
    /* background: rgb(97, 71, 226); */
    background: linear-gradient(
      90deg,
      rgba(97, 71, 226, 1) 0%,
      rgba(9, 9, 121, 1) 35%,
      rgba(255, 193, 32, 1) 100%
    );
  }

  .conditions .square__title {
    position: relative;
    font-family: "DunbarText";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: left;
    width: 340px;
  }

  .conditions .square__title span {
    display: block;
    font-family: "DunbarTall";
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    /* or 117% */
    color: #000000;
    margin-bottom: 40px;
  }

  .conditions .square__subtitle {
    width: auto;
    font-family: "DunbarLow";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */
    color: #000000;

    margin-bottom: 40px;
    text-align: left;
  }

  .conditions .title {
    display: none;
  }

  .conditions__wrap {
    flex-direction: column;
    padding: 0 60px 0 60px;
    margin-bottom: 10px;
  }

  .conditions__wrap_left {
    width: auto;
    display: flex;
    flex-direction: column;
    row-gap: 0;
    margin-right: 0;
  }

  .conditions__wrap_right {
    width: auto;
    display: flex;
    flex-direction: column;
    row-gap: 0;
  }

  .conditions__wrap_item {
    background: none;
  }

  .conditions__wrap_left .conditions__wrap_item {
    justify-content: flex-start;
  }

  .conditions__wrap .conditions__wrap_left .conditions__wrap_item p {
    width: 100%;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */
    color: #000000;
    margin: 0 0 40px 0;
    text-align: left;
  }

  .conditions__wrap .conditions__wrap_right .conditions__wrap_item p {
    width: 100%;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */
    color: #000000;
    margin: 0 0 40px 0;
    text-align: left;
  }

  .conditions__wrap
    .conditions__wrap_right
    .conditions__wrap_item:last-child
    p {
    margin: 0 0 80px 0;
  }
  /* / conditions */

  /* fillForm */

  .fillForm {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -1px;
    background: #000;
    padding: 75px 90px 190px;
    position: relative;
  }

  .fillForm::before {
    display: none;
  }

  .fillForm .wrapper {
    width: 100%;
  }

  .fillForm__container {
    display: none;
  }

  .fillForm .blockform {
    display: none;
  }

  .section-form {
    margin-left: -32px;
    margin-right: -32px;
    margin-bottom: -1px;
    background: #000;
    padding: 75px 90px 190px;
    position: relative;
  }

  .section-form__container.mobile {
    display: block;
    margin-left: 0;
    padding: 0;
    max-width: 100%;
    z-index: 10;
  }

  .section-form__title {
    text-align: left;
    font-family: "DunbarTall";
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    color: #ffc120;
    width: 89%;
    margin-bottom: 60px;
  }

  .section-form__subtitle {
    text-align: left;
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
    margin-bottom: 80px;
  }

  .section-form__link {
    font-family: "DunbarTall";
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    background: -webkit-linear-gradient(to right, #5a40de 0%, #f58317 100%);
    background: -moz-linear-gradient(to right, #5a40de 0%, #f58317 100%);
    background: linear-gradient(to right, #5a40de 0%, #f58317 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    z-index: 10;
    display: block;
  }

  .fillForm::after {
    content: "";
    display: block;
    width: 90px;
    height: 45px;
    background: url(./img/table_img/Arrow.svg) no-repeat center;
    position: absolute;
    right: 90px;
    bottom: 190px;
    z-index: 9;
  }

  /* /fillForm */

  /* footer */
  footer {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -21px;
    background: #000;
    padding: 45px 90px 150px;
    position: relative;
    flex-direction: column;
  }

  footer::before {
    content: "";
    display: block;
    width: 74px;
    height: 1px;
    background: #5a40de;
    background: -webkit-linear-gradient(to right, #5a40de 0%, #f58317 100%);
    background: -moz-linear-gradient(to right, #5a40de 0%, #f58317 100%);
    background: linear-gradient(to right, #5a40de 0%, #f58317 100%);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  footer .contact {
    width: auto;
    margin-right: 0;
    margin-bottom: 88px;
  }

  footer .contact h3 {
    display: none;
  }

  footer h3 {
    color: #fff;
  }

  footer .campany {
    margin: 0;
  }

  footer .campany span {
    font-family: "DunbarLow";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #ffc120;
  }

  footer p {
    width: 50%;
    font-family: "DunbarLow";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin: 0 auto;
    color: #fff;
  }

  footer .office {
    width: auto;
    margin: 0 auto;
    font-family: "DunbarLow";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }

  footer .office h3 {
    font-family: "DunbarLow";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #ffc120;
    text-transform: inherit;
    margin-bottom: 0;
  }

  footer address {
    font-family: "DunbarLow";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
  }

  footer a {
    font-family: "DunbarLow";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #fff;
  }

  footer a span:last-child {
    font-family: "DunbarLow";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #fff;
  }

  .modal {
    padding: 0 !important;
  }

  .modal-dialog {
    margin: 0 auto;
  }

  .modal-content {
    margin: 10px;
    width: calc(100% - 20px);
    background: #f5f5f5;
  }

  .modal .close:not(.not-mob) {
    top: 10px;
    right: 10px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-blockform {
    width: 100%;
    background: #f5f5f5;
  }

  .modal-blockform h2 {
    font-family: "DunbarTall";
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 60px;
    text-align: center;
  }

  .modal-blockform h3 {
    font-family: 'DunbarTall';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 60px;
    text-align: center;
  }

  .modal-blockform select[name="country"],
  .modal-blockform select[name="prize"] {
    font-family: "DunbarLow";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align-last: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    color: #000;
    margin-bottom: 22px;
    border: 1px solid transparent;
  }

  .modal-blockform input[type="email"],
  .modal-blockform input[type="text"],
  .modal-blockform input[type="tel"] {
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #000;
    margin-bottom: 22px;
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .modal-blockform select[name="country"]:target,
  .modal-blockform select[name="prize"]:target,
  .modal-blockform input[type="email"]:focus,
  .modal-blockform input[type="text"]:focus,
  .modal-blockform input[type="tel"]:focus {
    border: 1px solid #ffc120;
  }

  form .prize {
    margin-bottom: 0;
  }

  .modal-blockform input[type="email"]::placeholder,
  .modal-blockform input[type="text"]::placeholder,
  .modal-blockform input[type="tel"]::placeholder {
    color: #000;
  }

  form .checkbox_text {
    display: none;
  }

  input.notify[type="submit"] {
    margin-top: 65px;
  }

  input.notify[type="submit"]:hover {
    background: linear-gradient(90.07deg, #6147e2 22.55%, #ffc120 58.08%);
    transition: 0.3s;
    color: #000;
  }

  input[type="submit"] {
    font-family: "DunbarText";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    padding: 11px 24px;
    background: #ffc120;
    border-radius: 16px;
    color: #000;
    display: block;
    width: 70%;
    height: auto;
    margin: 0 auto;
  }

  input[type="submit"]:hover {
    background: linear-gradient(90.07deg, #6147e2 22.55%, #ffc120 58.08%);
    transition: 0.3s;
    color: #000;
  }

  .blockform-send .mobile {
    padding-top: 50px;
  }

  .blockform-send .mobile .title {
    font-family: "DunbarTall";
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #000;
    margin: 0 auto 36px;
    width: 70%;
  }

  .blockform-send .mobile .smile {
    text-align: center;
    margin-bottom: 36px;
  }

  .blockform-send .mobile .subtitle {
    font-family: "DunbarTall";
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    background: -webkit-linear-gradient(to right, #5a40de 0%, #f58317 100%);
    background: -moz-linear-gradient(to right, #5a40de 0%, #f58317 100%);
    background: linear-gradient(to right, #5a40de 0%, #f58317 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
  }
}
/* /footer */

/* MOBILE */
@media (max-width: 460px) {
  /* header */
  header {
    margin: 10px 10px 0 10px;
  }

  /* /header */

  .mobile.burger {
    width: 60px;
    height: 60px;
    top: 22px;
    right: 32px;
    z-index: 100;
  }

  .mobile.menu {
    width: 240px;
    top: 22px;
    right: 0;
  }

  .mobile.menu nav {
    margin-bottom: 40px;
  }

  .mobile.menu nav .list {
    margin-bottom: 0;
  }

  .mobile.menu nav .list__item {
    margin-bottom: 15px;
  }

  nav .list__item a {
    font-size: 18px;
    line-height: 24px;
  }

  .mobile.menu .language span {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 24px;
  }

  .mobile.menu .language div {
    margin-bottom: 15px;
  }

  .mobile.menu .language a {
    font-size: 18px;
    line-height: 24px;
  }

  /* main */

  .main {
    padding: 27px 27px 60px;
    margin: 0 10px 0 10px;
  }

  .main__btn:hover {
    background: linear-gradient(90.07deg, #6147e2 22.55%, #ffc120 58.08%);
    transition: 0.3s;
    color: #000;
  }

  .main:before {
    top: 25px;
    width: 341px;
    height: 341px;
  }

  .main-title__header {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  .main-title__first {
    font-size: 42px;
    line-height: 46px;
    margin-bottom: 30px;
  }

  .main-title .text1 {
    width: 95%;
    font-size: 18px;
    line-height: 24px;
    opacity: 1;
    margin-bottom: 60px;
  }

  .main-title .text2 {
    width: 95%;
    order: inherit;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 40px;
  }

  .main__btn {
    margin-bottom: 0;
  }
  /* /main */

  .user {
    margin: 10px 10px 0 10px;
  }

  .user__container {
    width: 100%;
    margin-bottom: 70px;
  }

  .user .right {
    width: 100%;
    margin: 140px 0 70px 15px;
  }

  .right .right__title {
    font-size: 32px;
    max-width: 290px;
  }

  .left__count {
    width: 100%;
    align-items: flex-start;
  }

  .left__count .left__count_wrap {
    padding-left: 120px;
    padding-right: 50px;
  }

  .left__count .left__count_description {
    width: 100%;
    font-size: 18px;
  }

  .left__count .left__count_wrap:nth-child(2) .left__count_description {
    margin: 50px 0 50px 0;
  }

  /* work */

  .work {
    margin: 0 10px 0 10px;
  }

  .work .title::after {
    content: "";
    position: absolute;
    top: -60px;
    right: -15px;
    width: 252px;
    height: 252px;
    opacity: 0.65;
    z-index: -1;
  }

  .work .title {
    font-size: 32px;
    line-height: 40px;
    max-width: 300px;
    margin-top: 80px;
    margin-bottom: 85px;
  }

  .work .title::before {
    top: 0px;
    right: 0px;
  }

  .work .work__container {
    padding: 0;
  }

  .container__items .container__item:nth-child(2n) {
    margin: 15px 15px 15px 40px;
  }

  .container__items .container__item {
    margin: 15px 40px 15px 15px;
  }

  .container__items .container__text {
    font-size: 16px;
    line-height: 20px;
  }

  .container__items:nth-child(7) .container__text {
    max-width: 230px;
  }

  .container__items:nth-child(1) .container__text {
    max-width: 145px;
  }

  .container__items:nth-child(2) .container__text {
    max-width: 130px;
  }

  /* / work */

  /* link */

  main .link {
    margin: 0 10px 10px 10px;
    padding-bottom: 160px;
  }

  main .link a {
    font-size: 32px;
    line-height: 40px;
    max-width: 267px;
  }

  main .link a::after {
    content: "";
    position: absolute;
    top: -80px;
    left: -45px;
    width: 252px;
    height: 252px;
  }

  /* /link */

  /* conditions */

  .conditions {
    margin: 0 10px 0 10px;
  }

  .conditions .title_wrap {
    padding: 0 30px 0 30px;
  }

  .conditions .square {
    width: 219px;
    height: 219px;
    padding: 53px 0px 0px 65px;
  }

  .conditions .square__title span {
    font-size: 32px;
    line-height: 40px;
  }

  .conditions .square__title {
    width: 100%;
    font-size: 18px;
    line-height: 24px;
    max-width: 260px;
  }

  .conditions .square__subtitle {
    font-size: 18px;
    line-height: 24px;
  }

  .conditions__wrap {
    padding: 0 30px 0 30px;
  }

  .conditions__wrap .conditions__wrap_left .conditions__wrap_item p {
    font-size: 18px;
    line-height: 28px;
  }
  .conditions__wrap .conditions__wrap_right .conditions__wrap_item p {
    font-size: 18px;
    line-height: 28px;
  }

  /* /conditions */

  /* section-form */

  .fillForm {
    padding: 75px 35px 60px;
    margin-left: -10px;
    margin-right: -10px;
  }

  .section-form__title {
    font-size: 32px;
    line-height: 40px;
    width: 85%;
    margin-bottom: 40px;
  }

  .section-form__subtitle {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 50px;
  }

  .section-form__link {
    font-size: 32px;
    line-height: 40px;
    padding-bottom: 60px;
  }

  .fillForm::after {
    right: 100px;
    bottom: 60px;
  }

  /* /section-form */

  /* footer */

  footer {
    padding: 45px 0px 150px;
    margin-left: -10px;
    margin-right: -10px;
  }

  footer .campany span {
    font-size: 18px;
    line-height: 24px;
  }

  footer p {
    width: 100%;
    max-width: 230px;
    font-size: 18px;
    line-height: 24px;
  }

  footer .office {
    width: 100%;
    font-size: 18px;
    line-height: 24px;
  }

  footer .office h3 {
    font-size: 18px;
    line-height: 24px;
  }

  footer address {
    width: 50%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 24px;
  }

  footer a {
    font-size: 18px;
    line-height: 24px;
  }

  footer a span:last-child {
    font-size: 18px;
    line-height: 24px;
  }

  .modal {
    display: block !important;
    -webkit-animation-duration: 1s; /* whatever timing you want */
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }

  .modal.modal__close {
    -webkit-animation-name: modalOut;
    animation-name: modalOut;
  }

  .modal.show {
    -webkit-animation-duration: 1s; /* whatever timing you want */
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: modalIn;
    animation-name: modalIn;
  }
}
