* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

a,
a:hover {
  text-decoration: none;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
}

header {
  padding-top: 4px;
  background-color: #9a9a9a;
}

.logo {
  margin-right: 60px;
}

.logo img {
  width: 126px;
  height: 39px;
}

nav {
}

nav .list {
  display: flex;

  height: 100%;
  padding: 8px 0;
  list-style: none;
}

nav .list__item {
  margin-right: 30px;
}

nav .list__item a {
  color: #ffffff;
}

nav .list__item a.list__link_active {
  font-weight: bold;
}

.language {
  display: flex;
  align-items: center;
  padding: 9px 53px;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  line-height: 1;
  height: 32px;
  position: relative;
  margin-left: -15px;
}

.language::after {
  content: ">";
  color: #ffffff;
  margin-left: 10px;
}
