@keyframes animation {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -500, 0, 0, 1);
  }

  2.6% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -361.431, 0, 0, 1);
  }

  5.21% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -257.295, 0, 0, 1);
  }

  10.31% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -125.942, 0, 0, 1);
  }

  15.52% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -56.241, 0, 0, 1);
  }

  20.62% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -22.876, 0, 0, 1);
  }

  30.93% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.305, 0, 0, 1);
  }

  41.24% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1.198, 0, 0, 1);
  }

  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

@keyframes animationUP {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 700, 0, 1);
  }

  2.6% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 361.431, 0, 1);
  }

  5.21% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 257.295, 0, 1);
  }

  10.31% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 125.942, 0, 1);
  }

  15.52% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 56.241, 0, 1);
  }

  20.62% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 22.876, 0, 1);
  }

  30.93% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1.305, 0, 1);
  }

  41.24% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.198, 0, 1);
  }

  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.mobile {
  display: none;
}

a,
a:hover {
  text-decoration: none;
  cursor: pointer;
}

.wrapper {
  position: relative;
  max-width: 1135px;
  margin: 0 auto;
  display: flex;
}

header {
  padding-top: 8px;
  background-color: #171819;
}

.logo {
  margin-right: 60px;
}

.logo img {
  width: 126px;
  height: 39px;
}

nav .list {
  display: flex;

  height: 100%;
  padding: 8px 0;
  list-style: none;
}

nav .list__item {
  margin-right: 30px;
}

nav .list__item a.list__link_active {
  position: relative;
  color: #ffffff;
  font-weight: bold;
}

nav .list__item a {
  position: relative;
  color: #ffffff;
}

nav .list__item a::after,
nav .list__item a.list__link_active::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #ffffff;
  transition: width 0.3s ease-out;
}

nav .list__item a:hover::after,
nav .list__item a:focus::after,
nav .list__item a.list__link_active:hover::after,
nav .list__item a.list__link_active:focus::after {
  width: 100%;
}

.language {
  display: flex;
  align-items: center;
  padding: 9px 53px;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  line-height: 1;
  height: 32px;
  position: relative;
  margin-left: -15px;
  cursor: pointer;
}

/* .language::after {
  content: ">";
  color: #ffffff;
  margin-left: 10px;
} */

.language .popup {
  display: none;
  position: absolute;
  top: 32px;
  width: 100%;
  left: 0;
  z-index: 10;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 16px;
}

.language.open .popup {
  display: block;
}

.language .popup div {
  text-align: center;
  color: #ffffff;
  padding: 9px;
}

.language .popup div a {
  position: relative;
  color: #ffffff;
}

.language .popup div a::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #ffffff;
  transition: width 0.3s ease-out;
}

.language .popup div a:hover::after,
.language .popup div a:focus::after {
  width: 100%;
}

/* /header */

/* main */

.main {
  position: relative;
  background-color: #191919;
  overflow: hidden;
}

.main__img {
  background-image: url(./img/girl_1_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 684px;
  height: 684px;
  right: -257px;
  bottom: -31px;
  overflow: hidden;
  border-radius: 50%;
  z-index: 100;
}

.main__img img {
  height: 100%;
}

.main__white_square {
  background-color: #ffffff;
  position: absolute;
  width: 725px;
  height: 726px;
  right: -270px;
  bottom: -40px;
  border-radius: 50%;
  z-index: 90;
}

.main__purple_square {
  background-color: #8082d1;
  position: absolute;
  width: 780px;
  height: 780px;
  right: -290px;
  bottom: -40px;
  border-radius: 50%;
  z-index: 80;
}

.main-title {
  width: 536px;
  margin-top: 44px;
  margin-bottom: 82px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.main-title__header {
  color: #fefefe;
  font-size: 24px;
  margin-bottom: 27px;
}

.main-title__first {
  line-height: 1;
  height: 72px;
  color: #ffffff;
  font-size: 72px;
  font-weight: 900;

  background: #5a40de;
  background: -webkit-linear-gradient(to right, #5a40de 0%, #f58317 100%);
  background: -moz-linear-gradient(to right, #5a40de 0%, #f58317 100%);
  background: linear-gradient(to right, #5a40de 0%, #f58317 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-transform: uppercase;

  margin-bottom: 37px;
}

/* .main-title__first {
  animation: animation 5000ms linear both;
} */

.main-title__subtitle {
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  margin-bottom: 57px;
}

.main-title__link {
  position: relative;
  color: #f98511;
  font-size: 18px;
  text-align: center;
  margin-bottom: 46px;
}

.main-title__link:hover {
  color: #f98511;
}

.main-title__link::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  /* transform: translateX(-50%); */
  width: 0;
  height: 1px;
  background-color: #f98511;
  transition: width 0.3s ease-out;
}

.main-title__link:hover::after,
.main-title__link:focus::after {
  width: 100%;
}

.main .text1 {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 47px;
  text-align: center;
}

.main .text2 {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 107px;
  text-align: center;
}

.main__btn {
  padding: 9px 75px;
  height: 36px;
  color: #ffffff;
  font-size: 17px;
  line-height: 1;
  background-color: #f98511;
  border-radius: 18px;
  margin-bottom: 50px;
}

.main__btn:hover {
  background-color: #a25406;
  color: #ffffff;
  transition: 0.3s;
}

.main-title__link1 {
  position: relative;
  color: #f98511;
  font-size: 18px;
  text-align: center;
  padding-bottom: 2px;
}

.main-title__link1:hover {
  color: #f98511;
}

.main-title__link1::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  /* transform: translateX(-50%); */
  width: 0;
  height: 1px;
  background-color: #f98511;
  transition: width 0.3s ease-out;
}

.main-title__link1:hover::after,
.main-title__link1:focus::after {
  width: 100%;
}

/* /main */

/* participate */

.participate {
  overflow-y: hidden;
  position: relative;
  margin-top: 17px;
  background-color: #8082d1;
}

.participate__container {
  margin-top: 83px;
  margin-bottom: 55px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.user .right {
  width: 273px;
}

.right .right__title {
  color: #ffffff;
  font-size: 48px;
  margin-bottom: 43px;
}

.right .right__subtitle {
  color: #ffffff;
  font-size: 18px;
}

.left__count {
  width: 804px;
  display: flex;
  justify-content: space-between;
}

.left__count .left__count_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left__count .left__count_wrap:nth-child(1) {
  width: 188px;
}

.left__count .left__count_wrap:nth-child(2) {
  width: 173px;
}

.left__count .left__count_wrap:nth-child(3) {
  width: 218px;
}

.left__count .left__count_wrap .number1 {
  animation: animationUP 5000ms linear both;
  animation-delay: 1s;
}

.left__count .left__count_wrap .number2 {
  animation: animationUP 5000ms linear both;
  animation-delay: 1s;
}

.left__count .left__count_wrap .number3 {
  animation: animationUP 5000ms linear both;
  animation-delay: 1.5s;
}

.left__count_wrap .participate-animate1 {
  animation: animationUP 5000ms linear both;
  animation-delay: 1s;
}

.left__count_wrap .participate-animate2 {
  animation: animationUP 5000ms linear both;
  animation-delay: 1.5s;
}

.left__count_wrap .participate-animate3 {
  animation: animationUP 5000ms linear both;
  animation-delay: 2s;
}

.participate-animate-text1 {
  animation: animationUP 5000ms linear both;
  animation-delay: 2s;
}

.participate-animate-text2 {
  animation: animationUP 5000ms linear both;
  animation-delay: 2.5s;
}

.participate-animate-text3 {
  animation: animationUP 5000ms linear both;
  animation-delay: 3s;
}

/* .left__count .left__count_wrap:nth-child(1) .left__count_number {
  animation: animationUP 5000ms linear both;
  animation-delay: 1s;
}

.left__count .left__count_wrap:nth-child(2) .left__count_number {
  animation: animationUP 5000ms linear both;
  animation-delay: 2s;
}

.left__count .left__count_wrap:nth-child(3) .left__count_number {
  animation: animationUP 5000ms linear both;
  animation-delay: 3s;
} */

/* .left__count .left__count_wrap:nth-child(1) .left__count_description {
  animation: animationUP 5000ms linear both;
  animation-delay: 2s;
}

.left__count .left__count_wrap:nth-child(2) .left__count_description {
  animation: animationUP 5000ms linear both;
  animation-delay: 3s;
}

.left__count .left__count_wrap:nth-child(3) .left__count_description {
  animation: animationUP 5000ms linear both;
  animation-delay: 4s;
} */

.left__count .left__count_number {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  width: 101px;
  height: 101px;
  text-align: center;
  background-color: #f1d773;
  border-radius: 50%;
  margin-bottom: 27px;
}

.left__count .left__count_number span {
  position: absolute;
  top: -41px;
  left: 16px;
  color: #ffffff;
  font-weight: 900;
  font-size: 90px;
}

.left__count .left__count_description {
  opacity: 0.7019607843137254;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  margin-bottom: 40px;
}

.left__count_note {
  color: #ffffff;
  font-size: 12px;
}

/* /participate */

/* prize */

.prize {
  position: relative;
}

.prize .prize__img {
  width: 382px;
  height: 745px;
  position: absolute;
  top: 171px;
  right: 205px;
  /* display: none; */
  z-index: 10;
}

.prize .prize__img img {
  width: 100%;
}

.darkblock {
  position: absolute;
  top: -25px;
  background-color: #000000;
  width: 392px;
  height: 708px;
  border-radius: 20px;
  padding: 116px 21px 77px;
  /* display: none; */
  z-index: 10;
}

.darkblock::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("./img/img3.svg");
  border-radius: 20px;
  opacity: 0.4;
  z-index: -1;
}

.prize-animate {
  animation: animationUP 3000ms linear both;
  animation-delay: 2s;
}

.darkblock__title {
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  margin-bottom: 61px;
}

.darkblock__pgh {
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  padding: 0 23px;
  margin-bottom: 55px;
}

.darkblock__pgh p:nth-child(2) {
  margin-top: 35px;
  margin-bottom: 35px;
}

.darkblock__btn {
  padding: 9px 75px;
  height: 36px;
  color: #ffffff;
  font-size: 17px;
  line-height: 1;
  background-color: #f98511;
  border-radius: 18px;
  margin-left: 45px;
}

.darkblock__btn:hover {
  background-color: #a25406;
  transition: 0.3s;
  color: #ffffff;
}

.prize__container {
  width: 620px;
  display: flex;
  flex-direction: column;
  margin-left: 464px;
  margin-top: 77px;
  margin-bottom: 60px;
}

.prize__container .title {
  text-align: center;
  color: #000000;
  font-size: 48px;
  margin-bottom: 26px;
}

.prize__container .subtitle {
  text-align: center;
  opacity: 0.8;
  color: #000000;
  font-size: 18px;
  margin-bottom: 37px;
}

.prize__container .items {
  position: relative;
  max-width: 615px;
}

.prize__container .items__wrap {
  /* position: relative; */
  display: flex;
  align-items: center;
}

.prize__container .slider-wrapper {
  position: relative;
  display: none;
}

.prize__container .items_slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: -120px;
  background-color: #fff;
  width: 387px;
  height: 387px;
  border-radius: 50%;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

/* .slider-closer */

.slider-closer {
  position: absolute;
  right: -90px;
  top: -345px;
  width: 41px;
  height: 41px;
  opacity: 1;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  cursor: pointer;
  z-index: 1;
}

.slider-closer:hover {
  opacity: 1;
}

.slider-closer:before,
.slider-closer:after {
  position: absolute;
  top: 13px;
  left: 19px;
  content: " ";
  height: 14px;
  width: 2px;
  background-color: #8082d1;
}

.slider-closer:before {
  transform: rotate(45deg);
}

.slider-closer:after {
  transform: rotate(-45deg);
}

/* / slider-closer */

.items_slider .carousel-control-next-icon {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 0 12px 22px;
  border-color: transparent transparent transparent #a1a0a0;
}

.items_slider .carousel-control-prev-icon {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 22px 12px 0;
  border-color: transparent #a1a0a0 transparent transparent;
}

.items_slider .carousel-item img {
  width: 375px;
  height: 215px;
}

.items .items__number {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  width: 101px;
  height: 101px;
  text-align: center;
  border-radius: 50%;

  color: #ffffff;
  font-weight: 900;
  font-size: 90px;
}

/* .prize__container .items__wrap:nth-child(1)::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 65px;
  height: 128px;
  background-image: url(./img/iphone1.svg);
}  */

.prize__container .items__wrap:nth-child(1) .items__number {
  background-color: #607ba6;
  margin-left: 85px;
}

.prize__container .items__wrap:nth-child(1) .items__img {
  cursor: pointer;
  padding-left: 233px;
}

.prize__container .items__wrap:nth-child(2) .items__number {
  background-color: #f1d773;
}

.prize__container .items__wrap:nth-child(2) .items__img {
  padding-left: 83px;
  cursor: pointer;
}

.prize__container .items__wrap:nth-child(3) .items__number {
  background-color: #e38522;
  margin-left: 64px;
}

.prize__container .items__wrap:nth-child(3) .items__img {
  cursor: pointer;
  padding-left: 123px;
}

.items .items__text {
  color: #000000;
  font-weight: 900;
  font-size: 18px;
  text-align: center;
  padding-left: 20px;
}

/* /prize */

/*blockchain */

.blockchain {
  position: relative;
  z-index: 100;
  background-color: #f1d773;
  margin-bottom: 16px;
}

.blockchain__wrap {
  display: flex;
  flex-direction: column;
}

.blockchain__title {
  color: #000000;
  font-size: 48px;
  width: 720px;
  text-align: center;
  margin-top: 76px;
  margin-bottom: 32px;
  align-self: center;
}

.blockchain__subtitle {
  color: #000000;
  font-size: 18px;
  width: 744px;
  text-align: center;
  align-self: center;
  margin-bottom: 61px;
}

.blockchain .group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 94px;
}

.blockchain .group__left {
  width: 186px;
  margin-right: 41px;
}

.blockchain .group__left p {
  opacity: 0.7019607843137254;
  color: #000000;
  font-size: 14px;
  text-align: center;
}

.blockchain .group__left p:first-child {
  margin-bottom: 96px;
}

.blockchain .group__right {
  width: 214px;
  margin-left: 74px;
}

.blockchain .group__right p {
  opacity: 0.7019607843137254;
  color: #000000;
  font-size: 14px;
  text-align: center;
}

.blockchain .group__middle {
  position: relative;
  width: 618px;
  display: flex;
  flex-wrap: wrap;
}

.blockchain .group__middle::before {
  position: absolute;
  top: 51px;
  left: -22px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 115.5px 0 115.5px 59px;
  border-color: transparent transparent transparent #d9e6ec;
}

.blockchain .group__middle::after {
  position: absolute;
  top: 0px;
  right: -70px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 167px 0 167px 59px;
  border-color: transparent transparent transparent #a29bb5;
}

.group__middle .group__middle_romb {
  width: 206px;
  height: 166px;
  padding: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 10;
  overflow: hidden;
  margin-bottom: 10px;
  cursor: default;
}

.group__middle .group__middle_romb:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(./img/square.png);
  background-position: center center;
  background-size: 100%;
  z-index: -1;
}

.group__middle .group__middle_romb:hover {
  transition: 0.5s;
  transform: scale(1.2);
  z-index: 100;
}

/* /blockchain */

/* diamont */

.diamont {
  margin-top: 18px;
  margin-bottom: 8px;
}

.diamont__wrap {
  display: flex;
  column-gap: 10px;
}

.diamont__wrap .left {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-end;
  width: 50%;
  background-color: #000000;
  padding-top: 104px;
  padding-bottom: 136px;
  z-index: 10;
}

.diamont__wrap .left::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(./img/img3-GA.png);
  background-attachment: fixed;
  background-size: cover;
  background-position-y: 50%;
  opacity: 0.4;
  z-index: -1;
}

.diamont__wrap .right {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 50%;
  width: 50%;
  background-color: #000000;
  padding-top: 104px;
  padding-bottom: 136px;
  z-index: 10;
}

.diamont__wrap .right::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(./img/img3-GA_revers.png);
  background-attachment: fixed;
  background-size: cover;
  background-position-y: 100%;
  opacity: 0.4;
  z-index: -1;
}

.left__container {
  width: 490px;
  margin-right: 53px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-size: 14px;
}

.right__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-size: 14px;
}

.left__wrap:nth-child(1) {
  width: 311px;
  margin-bottom: 30px;
  text-align: center;
}

.left__wrap:nth-child(2) {
  width: 490px;
  margin-bottom: 45px;
  text-align: center;
}

.left__wrap:nth-child(3) {
  width: 290px;

  text-align: center;
}

.right__container {
  width: 294px;
  margin-left: 137px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right__wrap:nth-child(1) {
  width: 294px;
  margin-bottom: 30px;
  text-align: center;
}

.right__wrap:nth-child(2) {
  width: 262px;
  margin-bottom: 45px;
  text-align: center;
}

.right__wrap:nth-child(3) {
  width: 285px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 37px;
}

.right__wrap_img,
.left__wrap_img {
  padding-bottom: 16px;
}

.right__link {
  position: relative;
  color: #f98511;
  font-size: 18px;
  text-align: center;
}

.right__link:hover {
  color: #f98511;
}

.right__link::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  /* transform: translateX(-50%); */
  width: 0;
  height: 1px;
  background-color: #f98511;
  transition: width 0.3s ease-out;
}

.right__link:hover::after,
.right__link:focus::after {
  width: 100%;
}

/* /diamont */

/* creating */

.creating {
  background-color: #f8f8f8;
  margin-bottom: 12px;
}

.creating__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.creating__container .title {
  width: 632px;
  color: #000000;
  font-size: 48px;
  text-align: center;
  margin-top: 64px;
  margin-bottom: 28px;
}

.creating__container .subtitle {
  opacity: 0.8;
  color: #383636;
  font-size: 18px;
  margin-bottom: 47px;
  text-align: center;
}

.creating__container .text1 {
  width: 640px;
  opacity: 0.7;
  color: #0e0e0e;
  font-size: 14px;
  text-align: center;
  margin-bottom: 29px;
}

.creating__container .text2 {
  width: 601px;
  opacity: 0.7;
  color: #0e0e0e;
  font-size: 14px;
  text-align: center;
  margin-bottom: 42px;
}

.creating__link {
  position: relative;
  color: #f98e19;
  font-size: 16px;
  margin-bottom: 56px;
}

.creating__link:hover {
  color: #f98e19;
}

.creating__link::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  /* transform: translateX(-50%); */
  width: 0;
  height: 1px;
  background-color: #f98511;
  transition: width 0.3s ease-out;
}

.creating__link:hover::after,
.creating__link:focus::after {
  width: 100%;
}

/* /creating */

/* section-form */

.section-form {
  /* overflow-y: hidden; */
  position: relative;
  margin-bottom: 15px;
  background-color: #8082d1;
}

.section-form__img {
  background-image: url(./img/dog.jpg);
  background-size: 840px 1330px;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: 440px -350px;
  position: absolute;
  width: 1119px;
  height: 977px;
  left: -650px;
  bottom: -10px;
  overflow: hidden;
  border-radius: 50%;
}

/* .section-form__img {
  background-image: url(./img/dog.jpg);
  background-size: 840px 1330px;
  background-repeat: no-repeat;

  background-attachment: fixed;
  background-position: -91px -350px;
  position: absolute;
  width: 1119px;
  height: 977px;
  left: -520px;
  bottom: -10px;
  overflow: hidden;
  border-radius: 50%;
} */

.section-form__img img {
  height: 100%;
}

.section-form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 467px;
  padding-top: 75px;
  padding-bottom: 141px;
  margin-left: 305px;
}

.section-form__container.mobile {
  display: none;
}

.section-form__title {
  color: #ffffff;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 23px;
  width: 486px;
  text-align: center;
}

.section-form__subtitle {
  opacity: 0.8;
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 44px;
  text-align: center;
}

.section-form .items {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.section-form .items__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-form .items .items__number {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  width: 101px;
  height: 101px;
  text-align: center;
  border-radius: 50%;

  color: #ffffff;
  font-weight: 900;
  font-size: 90px;
}

.section-form .items__wrap:nth-child(1) .items__number {
  background-color: #607ba6;
}

.section-form .items__wrap:nth-child(2) .items__number {
  background-color: #f1d773;
}

.section-form .items__wrap:nth-child(3) .items__number {
  background-color: #e38522;
}

.section-form .items__wrap:nth-child(1) {
  margin-top: 47px;
}

.section-form .items__wrap:nth-child(3) {
  margin-top: 48px;
}

.section-form .items .items__text {
  color: #ffffff;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  padding-left: 20px;
}

/* / section-form */

/* forma */

.blockform {
  position: absolute;
  height: 93%;
  right: 0px;
  bottom: -40px;
  width: 323px;
  background-color: #f1d773;
  border-radius: 13px;
  padding: 48px 32px 83px;
  z-index: 10;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.blockform-send {
  background: url(img/girl_1_bg.jpg) 41% 67% lightgreen;
  background-size: 139%;
  text-align: center;
  height: 100%;
}

.blockform-send p {
  position: relative;
  z-index: 19;
  top: 31%;
  font-size: 15px;
  color: white;
  font-weight: 500;
}

.blockform-send p span {
  font-size: 19px;
}

.blockform-send:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(128, 130, 209, 0.5);
  z-index: 2;
  border-radius: 13px;
}

.blockform h3 {
  color: #000000;
  font-size: 21px;
  margin-bottom: 32px;
  text-align: center;
}

.blockform select,
.blockform input {
  width: 100%;
}

.blockform input[type="checkbox"] {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  margin-right: 18px;
}

.blockform select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.close {
  position: absolute;
  right: 0%;
  z-index: 50;
  top: -4%;
  opacity: 1 !important;
}

.close span {
  font-size: 27px;
  color: white !important;
}

select[name="country"] {
  background-color: #7c6f3d;
  border-radius: 17px;
  color: #fefefe;
  font-size: 14px;
  padding: 10px 30px;
  margin-bottom: 10px;
  cursor: pointer;
}

.country-select-error {
  padding: 2px;
  display: none;
  top: -60px;
  left: -162px;
  position: absolute;
  width: 148px;
  height: 87px;
  background-color: #e38522;
  border-radius: 9px;
}

.prize-select-error {
  padding: 2px;
  display: none;
  top: -60px;
  left: -162px;
  position: absolute;
  width: 148px;
  height: 87px;
  background-color: #e38522;
  border-radius: 9px;
}

form .country {
  position: relative;
}

form .country::after {
  position: absolute;
  top: 11px;
  right: 15px;
  content: ">";
  color: #fefefe;
  font-size: 14px;
  font-weight: 600;
}

select[name="country"]:focus {
  outline: none;
}

input[type="email"] {
  background-color: #7c6f3d;
  border-radius: 17px;
  padding-top: 11px;
  padding-bottom: 11px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 22px;
  text-align: center;
}

input[type="email"]::placeholder {
  color: #fefefe;
  font-size: 14px;
  text-align: center;
  line-height: 1;
}

input[type="email"]:focus::-webkit-input-placeholder {
  color: transparent;
}

form .checkbox_text {
  display: flex;
  text-align: center;
  color: #000000;
  font-size: 14px;
  padding-right: 32px;
  margin-bottom: 20px;
}

form .prize {
  position: relative;
  margin-bottom: 13px;
}

select[name="prize"] {
  background-color: #7c6f3d;
  border-radius: 17px;
  color: #fefefe;
  font-size: 14px;
  padding: 10px 44px;
  cursor: pointer;
}

select[name="prize"]:focus {
  outline: none;
}

form .prize::after {
  position: absolute;
  top: 11px;
  right: 26px;
  content: ">";
  color: #fefefe;
  font-size: 14px;
  font-weight: 600;
}

input[type="text"] {
  background-color: #7c6f3d;
  border-radius: 17px;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 9px;
  border: none;
  outline: none;
  margin-bottom: 12px;
}

input[type="text"]::placeholder {
  color: #fefefe;
  font-size: 14px;
}

input[type="text"]:focus::-webkit-input-placeholder {
  color: transparent;
}

input[type="tel"] {
  background-color: #7c6f3d;
  border-radius: 17px;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 9px;
  border: none;
  outline: none;
  margin-bottom: 23px;
}

input[type="tel"]::placeholder {
  color: #fefefe;
  font-size: 14px;
}

input[type="tel"]:focus::-webkit-input-placeholder {
  color: transparent;
}

input[type="submit"] {
  background-color: #e38522;
  border-radius: 17px;
  color: #fefefe;
  font-size: 14px;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 9px;
  border: none;
  outline: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #a25406;
  transition: 0.3s;
}

/* /forma */

/* modal forma */

.modal-content {
  width: 324px;
  background-color: #f1d773;
  border-radius: 13px;
}

.modal-body {
  padding: 0;
  height: 628px;
}

.modal-header {
  border-bottom: none;
}

.modal-blockform {
  width: 323px;
  background-color: #f1d773;
  border-radius: 13px;
  padding: 60px 32px 83px;
  z-index: 10;
}

.modal-blockform h3 {
  color: #000000;
  font-size: 21px;
  margin-bottom: 32px;
  text-align: center;
}

.modal-blockform select,
.modal-blockform input {
  width: 100%;
}

.modal-blockform input[type="checkbox"] {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  margin-right: 18px;
}

.modal-blockform select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select[name="country"] {
  background-color: #7c6f3d;
  border-radius: 17px;
  color: #fefefe;
  font-size: 14px;
  padding: 10px 30px;
  margin-bottom: 10px;
  cursor: pointer;
}

form .country {
  position: relative;
}

form .country::after {
  position: absolute;
  top: 11px;
  right: 15px;
  content: ">";
  color: #fefefe;
  font-size: 14px;
  font-weight: 600;
}

select[name="country"]:focus {
  outline: none;
}

input[type="email"] {
  background-color: #7c6f3d;
  border-radius: 17px;
  padding-top: 11px;
  padding-bottom: 11px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 22px;
  text-align: center;
}

input[type="email"]::placeholder {
  color: #fefefe;
  font-size: 14px;
  text-align: center;
  line-height: 1;
}

input[type="email"]:focus::-webkit-input-placeholder {
  color: transparent;
}

form .checkbox_text {
  display: flex;
  text-align: center;
  color: #000000;
  font-size: 14px;
  padding-right: 32px;
  margin-bottom: 20px;
}

form .prize {
  position: relative;
  margin-bottom: 13px;
}

select[name="prize"] {
  background-color: #7c6f3d;
  border-radius: 17px;
  color: #fefefe;
  font-size: 14px;
  padding: 10px 44px;
  cursor: pointer;
}

select[name="prize"]:focus {
  outline: none;
}

form .prize::after {
  position: absolute;
  top: 11px;
  right: 26px;
  content: ">";
  color: #fefefe;
  font-size: 14px;
  font-weight: 600;
}

input[type="text"] {
  background-color: #7c6f3d;
  border-radius: 17px;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 9px;
  border: none;
  outline: none;
  margin-bottom: 12px;
}

input[type="text"]::placeholder {
  color: #fefefe;
  font-size: 14px;
}

input[type="text"]:focus::-webkit-input-placeholder {
  color: transparent;
}

input[type="tel"] {
  background-color: #7c6f3d;
  border-radius: 17px;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 9px;
  border: none;
  outline: none;
  margin-bottom: 23px;
}

input[type="tel"]::placeholder {
  color: #fefefe;
  font-size: 14px;
}

input[type="tel"]:focus::-webkit-input-placeholder {
  color: transparent;
}

input[type="submit"] {
  background-color: #e38522;
  border-radius: 17px;
  color: #fefefe;
  font-size: 14px;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 9px;
  border: none;
  outline: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #a25406;
  transition: 0.3s;
}

/* /modal forma */

.spainForm {
  width: 324px;
  height: 620px;
  background-image: url(./img/girl_1_bg-tr.jpg);
  background-size: cover;
}

/* footer */
footer {
  position: relative;
  background: #8082d1;
  display: flex;
  justify-content: center;
  padding-top: 62px;
  padding-bottom: 47px;
  z-index: 100;
}

footer .contact {
  width: 245px;
  text-align: center;
  margin-right: 356px;
}

footer .office {
  width: 270px;
  text-align: center;
}

footer h3 {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
}

footer .campany {
  color: #ffffff;
  font-size: 18px;
  font-weight: 900;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1;
}

footer .campany span:first-child {
  color: #e38522;
}

footer p {
  color: #ffffff;
  font-size: 14px;
}

footer address {
  color: #ffffff;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-style: normal;
}

footer a {
  color: #fafafa;
  font-size: 14px;
}

footer a span:last-child {
  color: #f98511;
}

/* header bg */

.bg-white {
  position: sticky;
  top: 0;
  z-index: 10000;
  padding-top: 12px;
  background-color: #ffffff;
  opacity: 0.9;
}

.bg-white nav .list__item a.list__link_active {
  position: relative;
  color: #000000;
  font-weight: bold;
}

.bg-white nav .list__item a {
  position: relative;
  color: #000000;
}

.bg-white nav .list__item a::after,
.bg-white nav .list__item a.list__link_active::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #000;
  transition: width 0.3s ease-out;
}

.bg-white nav .list__item a:hover::after,
.bg-white nav .list__item a:focus::after,
.bg-white nav .list__item a.list__link_active:hover::after,
.bg-white nav .list__item a.list__link_active:focus::after {
  width: 100%;
}

.bg-white .language {
  display: flex;
  align-items: center;
  padding: 9px 53px;
  color: #000;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  line-height: 1;
  height: 32px;
  position: relative;
  margin-left: -15px;
  cursor: pointer;
}

.bg-white .language span {
  position: relative;
}

.bg-white .language span::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #000;
  transition: width 0.3s ease-out;
}

.bg-white .language span:hover::after,
.bg-white .language span:focus::after {
  width: 100%;
}

/* .bg-white .language::after {
  content: ">";
  color: #000;
  margin-left: 10px;
} */

.bg-white .language .popup {
  display: none;
  position: absolute;
  top: 32px;
  width: 100%;
  left: 0;
  z-index: 10;
  background-color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 16px;
}

.bg-white .language.open .popup {
  display: block;
}

.bg-white .language .popup div {
  text-align: center;
  color: #000;
  padding: 9px;
}

.bg-white .language .popup div a {
  position: relative;
  color: #000;
}

.bg-white .language .popup div a::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #000;
  transition: width 0.3s ease-out;
}

.bg-white .language .popup div a:hover::after,
.bg-white .language .popup div a:focus::after {
  width: 100%;
}

/* NOTES */
@media (max-width: 1440px) {
  .left__count {
    width: 750px;
  }

  .prize__container {
    margin-left: 395px;
  }

  .prize__container .items__wrap:nth-child(1) .items__img {
    padding-left: 160px;
  }

  .prize__container .items__wrap:nth-child(3) .items__img {
    padding-left: 73px;
  }

  .prize__container .items_slider {
    bottom: 4px;
    right: -10px;
    width: 382px;
    height: 382px;
  }

  .slider-closer {
    right: 20px;
  }

  .blockchain .group__middle {
    width: 490px;
  }

  .blockchain .group__middle {
    justify-content: center;
  }

  .section-form__container {
    margin-left: 195px;
  }

  .blockform {
    right: 20px;
  }

  .section-form__img {
    left: -770px;
  }
}

/* TABS */
@media (max-width: 768px) {
  body {
    padding: 21px 32px;
  }

  .wrapper {
    width: 100%;
  }

  .mobile {
    display: block;
  }

  header {
    border-radius: 24px 24px 0 0;
    padding-top: 27px;
    padding-right: 27px;
    padding-left: 27px;
    margin-bottom: -1px;
    position: relative;
  }

  .logo img:not(.mobile) {
    display: none;
  }

  nav, .language {
    display: none;
  }

  .mobile.burger {
    position: absolute;
    top: -12px;
    right: -12px;
    background: #fff;
    border-radius: 100%;
    width: 75px;
    height: 75px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile.menu {
    display: none;
    position: absolute;
    background: #fff;
    z-index: 11;
    /*top: -28px;*/
    /*right: -28px;*/
    top: -12px;
    right: -12px;
    border-radius: 24px 0 0 24px;
    padding: 40px;
    width: 60%;
    flex-direction: column;
  }

  .mobile.menu.active {
    display: flex;
  }

  .mobile.menu .close {
    position: absolute;
    top: 25px;
    right: 25px;
  }

  .mobile.menu .logo {
    margin-bottom: 88px;
    width: 130px;
  }

  .mobile.menu nav {
    display: flex;
    align-self: flex-end;
    margin-bottom: 75px;
  }

  .mobile.menu nav .list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .mobile.menu nav .list__item {
    margin-bottom: 25px;
  }

  nav .list__item a {
    font-family: 'DunbarText';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: right;
    text-transform: uppercase;
    color: #000;
  }

  nav .list__item a.list__link_active {
    background: -webkit-linear-gradient(to right, #5a40de 0%, #f58317 100%);
    background: -moz-linear-gradient(to right, #5a40de 0%, #f58317 100%);
    background: linear-gradient(to right, #5a40de 0%, #f58317 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .mobile.menu .language:before {
    content: '';
    display: block;
    width: 80px;
    height: 1px;
    background: #5a40de;
    background: -webkit-linear-gradient(to right, #5a40de 0%, #f58317 100%);
    background: -moz-linear-gradient(to right, #5a40de 0%, #f58317 100%);
    background: linear-gradient(to right, #5a40de 0%, #f58317 100%);
    margin-bottom: 30px;
  }

  .mobile.menu .language {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .mobile.menu .language span {
    font-family: 'DunbarText';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #000;
    text-transform: uppercase;
  }


  .main {
    border-radius: 0 0 24px 24px;
    padding: 27px 27px 155px;
    position: relative;
  }

  .main:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(./img/girl_1_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 420px;
    height: 420px;
    border-radius: 100%;
    background-size: cover;
    filter: brightness(70%);
  }

  .main__img, .main__white_square, .main__purple_square {
    display: none;
  }

  .main-title {
    width: 100%;
    margin: 50px 0 0;
  }

  .main .text1,
  .main .text2,
  .main-title__link1 {
    display: none;
  }

  .main-title__header {
    font-family: 'DunbarText';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 37px;
  }

  .main-title__first {
    font-family: 'DunbarTall';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    text-transform: uppercase;
    color: #FFC120;
    background: none;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
    margin-bottom: 30px;
  }

  .main-title__subtitle {
    font-family: 'DunbarLow';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    width: 50%;
    margin-bottom: 180px;
  }

  .main-title__link:not(.mobile) {
    display: none;
  }

  .main-title__link.mobile {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    width: 70%;
    margin-bottom: 67px;
  }

  .main__btn {
    font-family: 'DunbarText';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    padding: 11px 24px;
    background: #FFC120;
    border-radius: 16px;
    color: #000;
    display: inline-block;
    height: auto;
    margin-bottom: 0;
  }

  .participate {
    background: #f5f5f5;
    padding: 70px 58px;
    border-radius: 24px;
  }

  .participate__container {
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
  }

  .participate__container .top {
    margin-bottom: 57px;
  }

  .participate__container .top .line {
    width: 74px;
    height: 1px;
    background: #5a40de;
    background: -webkit-linear-gradient(to right, #5a40de 0%, #f58317 100%);
    background: -moz-linear-gradient(to right, #5a40de 0%, #f58317 100%);
    background: linear-gradient(to right, #5a40de 0%, #f58317 100%);
    margin-bottom: 70px;
  }

  .participate__container .top .top__title {
    font-family: 'DunbarTall ExBold';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 40px;
  }

  .participate__container .top .top__subtitle {
    font-family: 'DunbarText';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 40px;
  }
  .participate__container .top .top__text {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    width: 90%;
    margin-bottom: 40px;
  }

  .participate__container .top .top__undertext {
    font-family: 'DunbarText';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    background: -webkit-linear-gradient(to right, #5a40de 0%, #f58317 100%);
    background: -moz-linear-gradient(to right, #5a40de 0%, #f58317 100%);
    background: linear-gradient(to right, #5a40de 0%, #f58317 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 57px;
  }

  .participate .right {
    width: 344px;
    height: 344px;
    background: rgba(255, 193, 32, 0.7);
    padding: 53px 65px;
    position: relative;
  }

  .participate .right:before {
    content: '';
    display: block;
    width: 74px;
    height: 1px;
    background: #5a40de;
    background: -webkit-linear-gradient(to right, #5a40de 0%, #f58317 100%);
    background: -moz-linear-gradient(to right, #5a40de 0%, #f58317 100%);
    background: linear-gradient(to right, #5a40de 0%, #f58317 100%);
    margin-bottom: 40px;
  }

  .participate .right:after {
    content: '';
    display: block;
    position: absolute;
    top: 155px;
    right: 40px;
    width: 59px;
    height: 686px;
    background: url("./img/linepart.svg") no-repeat;
    background-size: 100%;
  }

  .right .right__title {
    font-family: 'DunbarTall';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    color: #000;
    margin-bottom: 40px;
  }

  .right .right__subtitle {
    font-family: 'DunbarText';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #000;
  }

  .left__count {
    width: 100%;
    height: 470px;
    position: relative;
    display: block;
  }

  .left__count .left__count_wrap {
    width: auto;
    position: absolute;
    flex-direction: row;
  }

  .left__count .left__count_wrap:nth-child(1) {
    width: auto;
    right: 0;
    top: 24px;
  }

  .left__count .left__count_wrap:nth-child(2) {
    width: auto;
    left: 0;
    top: 170px;
    flex-direction: row-reverse;
  }

  .left__count .left__count_wrap:nth-child(3) {
    width: auto;
    right: -50px;
    top: 320px;
  }

  .left__count .left__count_number {
    background-color: transparent;
    width: auto;
  }

  .left__count .left__count_number span {
    font-style: normal;
    font-weight: 900;
    font-size: 130px;
    line-height: 120px;
    position: static;
    color: #FFC120;
  }

  .left__count .left__count_description {
    font-family: 'DunbarLow';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #000;
    opacity: 1;
    width: 220px;
  }

  .left__count .left__count_wrap:nth-child(1) .left__count_description {
    margin-left: 15px;
    text-align: left;
  }

  .left__count .left__count_wrap:nth-child(2) .left__count_description {
    margin-right: 44px;
    text-align: right;
    width: 160px;
  }

  .left__count .left__count_wrap:nth-child(3) .left__count_description {
    margin-left: 42px;
    text-align: left;
  }

  .left__count_note {
    display: none;
  }

  .prize {
    background: rgba(97, 71, 226, 0.2);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 24px;
    padding: 51px 20px 37px;
  }

  .prize_wrap {
    width: 100%;
  }

  .darkblock {
    display: none;
  }

  .prize__container {
    margin: 0;
    width: 100%;
  }

  .prize__container .title {
    font-family: 'DunbarTall';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
  }

  .prize__container .subtitle {
    display: none;
  }

  .prize__container .items {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .prize__container .items__wrap {
    width: calc(50% - 24px);
    margin: 0 12px 24px;
    background-color: #fff;
    border-radius: 12px;
    flex-direction: column-reverse;
    align-items: center;
    padding: 10px;
  }

  .items .items__number {
    display: none;
  }

  .prize__container .items__wrap .items__img {
    max-width: 100%;
    height: 300px;
    margin-bottom: 10px;
  }

  .prize__container .items__wrap:nth-child(1) .items__img {
    padding: 0;
  }

  .prize__container .items__wrap:nth-child(2) .items__img {
    padding: 0;
  }

  .prize__container .items__wrap:nth-child(3) .items__img {
    padding: 0;
  }

  .items .items__text {
    font-family: 'DunbarTall';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
  }

  .prize__container .slider-wrapper {
    display: none !important;
  }

  .blockchain {
    background: rgba(255, 193, 32, 0.15);
    border-radius: 24px;
    padding: 70px 60px;
    margin-bottom: 10px;
  }

  .blockchain__top__wrap .line {
    width: 74px;
    height: 1px;
    background: #5a40de;
    background: -webkit-linear-gradient(to right, #5a40de 0%, #f58317 100%);
    background: -moz-linear-gradient(to right, #5a40de 0%, #f58317 100%);
    background: linear-gradient(to right, #5a40de 0%, #f58317 100%);
    margin-bottom: 70px;
  }

  .blockchain__top__wrap .line.right {
    margin-left: auto;
    margin-right: 0;
  }

  .blockchain__top__wrap .blockchain__top__title {
    font-family: 'DunbarTall';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 40px;
    width: 80%;
  }

  .blockchain__top__wrap .blockchain__top__subtitle {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 40px;
    width: 80%;
  }

  .blockchain__top__wrap .blockchain__top__btn {
    font-family: 'DunbarText';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    padding: 9px 24px;
    background: #FFC120;
    border-radius: 16px;
    color: #000;
    display: inline-block;
    margin-bottom: 100px;
  }

  .blockchain__title {
    font-family: 'DunbarTall';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 40px;
    text-align: right;
    margin-left: auto;
    margin-right: 0;
    width: 80%;
  }

  .blockchain__subtitle {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 40px;
    text-align: right;
    margin-left: auto;
    margin-right: 0;
    width: 80%;
  }

  .blockchain .top__undertext {
    font-family: 'DunbarLow';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    background: -webkit-linear-gradient(to right, #5a40de 0%, #f58317 100%);
    background: -moz-linear-gradient(to right, #5a40de 0%, #f58317 100%);
    background: linear-gradient(to right, #5a40de 0%, #f58317 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 90px;
    margin-left: auto;
    margin-right: 0;
  }

  .blockchain .right__bot {
    width: 420px;
    height: 420px;
    background: rgba(97, 71, 226, 0.7);
    padding: 89px 0 0 55px;
    position: relative;
    border-radius: 100%;
    margin-left: -59px;
  }

  .blockchain .right__bot .line {
    display: block;
    width: 74px;
    height: 1px;
    background: #5a40de;
    background: -webkit-linear-gradient(to right, #5a40de 0%, #f58317 100%);
    background: -moz-linear-gradient(to right, #5a40de 0%, #f58317 100%);
    background: linear-gradient(to right, #5a40de 0%, #f58317 100%);
    margin-bottom: 20px;
    margin-left: 65px;
  }

  .right__bot .right__bot__title {
    font-family: 'DunbarTall';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    color: #000;
    margin-bottom: 40px;
  }

  .right__bot .right__bot__subtitle {
    font-family: 'DunbarText';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #000;
    margin-left: 65px;
  }

  .blockchain .group {
    display: none;
  }

  .blockchain .group__bg.active {
    display: block;
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
  }

  .blockchain .group.active {
    display: block;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 12px 32px;
    padding: 37px 60px;
    background: #F5F5F5;
    border-radius: 24px;
  }

  .blockchain .group .close {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 22px;
    right: 27px;
    background: #fff;
  }

  .blockchain .group__middle::before,
  .blockchain .group__middle::after,
  .group__middle .group__middle_romb:before {
    display: none;
  }

  .blockchain .group__left {
    margin: 0 0 0;
    width: 100%;
  }

  .blockchain .group__left p:nth-child(1) {
    font-family: 'DunbarTall';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    color: #000;
    margin-bottom: 35px;
    opacity: 1;
  }

  .blockchain .group__left p:nth-child(2) {
    font-family: 'DunbarText';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #000;
    margin-bottom: 50px;
    opacity: 1;
  }

  .blockchain .group__middle {
    margin: 0;
    width: 100%;
  }

  .group__middle .group__middle_romb {
    font-family: 'DunbarLow';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #000;
    width: 50%;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
    height: auto;
    margin-bottom: 60px;
  }

  .blockchain .group__middle_romb:before {
    content: '';
    display: block;
    width: 74px;
    height: 1px;
    background: #5a40de;
    background: -webkit-linear-gradient(to right, #5a40de 0%, #f58317 100%);
    background: -moz-linear-gradient(to right, #5a40de 0%, #f58317 100%);
    background: linear-gradient(to right, #5a40de 0%, #f58317 100%);
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    position: static;
  }

  .blockchain .group__right {
    margin: 0 0 0;
    width: 100%;
  }

  .blockchain .group__right p {
    opacity: 1;
    font-family: 'DunbarLow';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }

  .diamont {
    background: #000000;
    border-radius: 24px;
    padding: 80px 60px 30px;
    margin-top: 0;
  }

  .diamont .diamont__title {
    font-family: 'DunbarTall';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    background: -webkit-linear-gradient(to right, #5a40de 0%, #f58317 100%);
    background: -moz-linear-gradient(to right, #5a40de 0%, #f58317 100%);
    background: linear-gradient(to right, #5a40de 0%, #f58317 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-bottom: 80px;
  }

  .diamont__wrap .left, .diamont__wrap .right {
    padding: 0;
  }

  .diamont__wrap .left {
    padding-right: 24px;
  }

  .diamont__wrap .right {
    padding-left: 24px;
  }

  .diamont__wrap .left::before, .diamont__wrap .right::before {
    display: none;
  }

  .left__container, .right__container {
    width: 100%;
    margin: 0;
  }

  .diamont .left__wrap, .diamont .right__wrap {
    width: 100%;
    margin-bottom: 50px;
  }

  .left__wrap_img, .right__wrap_img {
    display: none;
  }

  .diamont .line {
    display: block;
    width: 74px;
    height: 1px;
    background: #5a40de;
    background: -webkit-linear-gradient(to right, #5a40de 0%, #f58317 100%);
    background: -moz-linear-gradient(to right, #5a40de 0%, #f58317 100%);
    background: linear-gradient(to right, #5a40de 0%, #f58317 100%);
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
  }

  .left__wrap p, .right__wrap p {
    height: 180px;
    font-family: 'DunbarText';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
  }

  .diamont .right__link {
    display: none;
  }

  .creating {
    background: #F5F5F5;
    border-radius: 24px;
    padding: 70px 60px 90px;
  }

  .creating__container {
    align-items: flex-start;
  }

  .creating .right {
    width: 345px;
    height: 345px;
    background: rgba(255, 193, 32, 0.7);
    padding: 60px 0 0 60px;
    position: relative;
    margin-bottom: 45px;
  }

  .right .title {
    font-family: 'DunbarTall';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    color: #000;
    margin-top: 0;
    margin-bottom: 40px;
    text-align: left;
    width: 160%;
  }

  .right .subtitle {
    font-family: 'DunbarText';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #000;
    text-align: left;
    width: 160%;
  }

  .creating__container .text1 {
    width: 60%;
    margin-left: 65px;
    margin-bottom: 40px;
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    opacity: 1;
  }

  .creating__container .text2 {
    width: 60%;
    margin-left: 65px;
    margin-bottom: 50px;
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    opacity: 1;
  }

  .creating__link {
    margin-left: 60px;
    background: -webkit-linear-gradient(to right, #5a40de 0%, #f58317 100%);
    background: -moz-linear-gradient(to right, #5a40de 0%, #f58317 100%);
    background: linear-gradient(to right, #5a40de 0%, #f58317 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'DunbarLow';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    width: 45%;
    margin-bottom: 0;
  }

  .section-form {
    margin-left: -32px;
    margin-right: -32px;
    margin-bottom: -1px;
    background: #000;
    padding: 75px 90px 190px;
    position: relative;
  }

  .section-form::after {
    content: '';
    display: block;
    width: 90px;
    height: 45px;
    background: url(./img/arrow.svg) no-repeat center;
    position: absolute;
    right: 90px;
    bottom: 190px;
  }

  .section-form__img {
    display: none;
  }

  .section-form__container {
    display: none;
  }

  .section-form__container.mobile {
    display: block;
    margin-left: 0;
    padding: 0;
  }

  .section-form__title {
    text-align: left;
    font-family: 'DunbarTall';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    color: #FFC120;
    width: 70%;
    margin-bottom: 60px;
  }

  .section-form__subtitle {
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 80px;
  }

  .section-form__link {
    font-family: 'DunbarTall';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    background: -webkit-linear-gradient(to right, #5a40de 0%, #f58317 100%);
    background: -moz-linear-gradient(to right, #5a40de 0%, #f58317 100%);
    background: linear-gradient(to right, #5a40de 0%, #f58317 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .blockform {
    display: none;
  }






  footer {
    margin-left: -32px;
    margin-right: -32px;
    margin-bottom: -21px;
    background: #000;
    padding: 45px 90px 150px;
    position: relative;
    flex-direction: column;
  }

  footer::before {
    content: '';
    display: block;
    width: 74px;
    height: 1px;
    background: #5a40de;
    background: -webkit-linear-gradient(to right, #5a40de 0%, #f58317 100%);
    background: -moz-linear-gradient(to right, #5a40de 0%, #f58317 100%);
    background: linear-gradient(to right, #5a40de 0%, #f58317 100%);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  footer .contact {
    width: auto;
    margin-right: 0;
    margin-bottom: 88px;
  }

  footer h3 {
    display: none;
  }

  footer .campany {
    margin: 0;
  }

  footer .campany span {
    font-family: 'DunbarLow';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }

  footer p {
    width: 50%;
    font-family: 'DunbarLow';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin: 0 auto;
  }

  footer .office {
    margin: 0 auto;
    font-family: 'DunbarLow';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }

  footer .office h3 {
    display: block;
    font-family: 'DunbarLow';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFC120;
  }

  footer .office address {
    font-family: 'DunbarLow';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }

  footer .office a {
    font-family: 'DunbarLow';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }

  footer .office a span {
    font-family: 'DunbarLow';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
  }

}

/* MOBILE */
@media (max-width: 460px) {






}